.root {
    background-image: url("vanishing-stripes.svg");
    background-size: auto; /* Adjust as needed */
    background-repeat: no-repeat;
    background-position: center;
    position: fixed; /* Ensures it covers the entire viewport */
    top: 0;
    left: 0;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    background-color: white; /* Override body background */
    color: black; /* Override body text color */
    z-index: 9999;
}

.button-addon2 a {
    color: green; /* Default link color */
    text-decoration: none;
}

.button-addon2 a:hover {
    color: white; /* Link color on hover */
    text-decoration: none; /* Optional: Remove underline on hover */
}