<div data-controller="error" data-error-message="<%= flash[:alert] %>">
  <div class="modal fade" tabindex="-1" role="dialog" id="error-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content shadow-lg">
        <div class="modal-header bg-white border-0">
          <h5 class="modal-title text-danger fw-bold">
            <i class="bi bi-x-circle-fill text-danger me-2" id="modal-error-message">Error</i>
          </h5>
          <button type="button" class="btn-close" data-action="error#close" aria-label="Close"></button>
        </div>
        <div class="px-5 text-center">
          <ul class="custom-list text-muted fs-6">
            <li>Check if the domain is correct</li>
            <li>Check if the site is online</li>
            <li>Check the address bars and punctuation</li>
            <li>The URL may be being used for spam</li>
            <li>The URL may have been blocked</li>
            <li>The URL may have been reported</li>
            <li>The URL was recently shortened</li>
            <li>The URL is not allowed</li>
            <li>You shortened many URLs in a short time</li>
          </ul>
        </div>
        <div class="modal-footer justify-content-center border-0">
          <button type="button" class="btn btn-outline-danger px-4" data-action="error#close">
            Dismiss
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<%= stylesheet_link_tag "error_modal", "data-turbo-track": "reload" %>